<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    {{title}}
  </title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/styles" />
  <link rel="icon" type="image/ico" href="">
</head>

<body>
  {{{body}}}

  <!-- JavaScript Files -->
  <script type="text/javascript" src="/scripts"></script>
</body>

</html>